{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://greengrass.amazonaws.com/"
        },
        {
            "url": "http://greengrass.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS IoT Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS IoT Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS IoT Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Greengrass",
        "version": "2017-06-07",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/greengrass-2017-06-07.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "greengrass"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/greengrass/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/greengrass/bulk/deployments": {
            "get": {
                "description": "Returns a list of bulk deployments.",
                "operationId": "ListBulkDeployments",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BulkDeployments": {
                                            "description": "A list of bulk deployments.",
                                            "items": {
                                                "description": "Information about a bulk deployment. You cannot start a new bulk deployment while another one is still running or in a non-terminal state.",
                                                "properties": {
                                                    "BulkDeploymentArn": {
                                                        "description": "The ARN of the bulk deployment.",
                                                        "type": "string"
                                                    },
                                                    "BulkDeploymentId": {
                                                        "description": "The ID of the bulk deployment.",
                                                        "type": "string"
                                                    },
                                                    "CreatedAt": {
                                                        "description": "The time, in ISO format, when the deployment was created.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deploys multiple groups in one operation. This action starts the bulk deployment of a specified set of group versions. Each group version deployment will be triggered with an adaptive rate that has a fixed upper limit. We recommend that you include an ''X-Amzn-Client-Token'' token in every ''StartBulkDeployment'' request. These requests are idempotent with respect to the token and the request parameters.",
                "operationId": "StartBulkDeployment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BulkDeploymentArn": {
                                            "description": "The ARN of the bulk deployment.",
                                            "type": "string"
                                        },
                                        "BulkDeploymentId": {
                                            "description": "The ID of the bulk deployment.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ExecutionRoleArn": {
                                        "description": "The ARN of the execution role to associate with the bulk deployment operation. This IAM role must allow the ''greengrass:CreateDeployment'' action for all group versions that are listed in the input file. This IAM role must have access to the S3 bucket containing the input file.",
                                        "type": "string"
                                    },
                                    "InputFileUri": {
                                        "description": "The URI of the input file contained in the S3 bucket. The execution role must have ''getObject'' permissions on this bucket to access the input file. The input file is a JSON-serialized, line delimited file with UTF-8 encoding that provides a list of group and version IDs and the deployment type. This file must be less than 100 MB. Currently, AWS IoT Greengrass supports only ''NewDeployment'' deployment types.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/bulk/deployments/{BulkDeploymentId}/$stop": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Stops the execution of a bulk deployment. This action returns a status of ''Stopping'' until the deployment is stopped. You cannot start a new bulk deployment while a previous deployment is in the ''Stopping'' state. This action doesn't rollback completed deployments or cancel pending deployments.",
                "operationId": "StopBulkDeployment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "BulkDeploymentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports": {
            "get": {
                "description": "Gets a paginated list of the deployments that have been started in a bulk deployment operation, and their current deployment status.",
                "operationId": "ListBulkDeploymentDetailedReports",
                "parameters": [
                    {
                        "in": "path",
                        "name": "BulkDeploymentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Deployments": {
                                            "description": "A list of the individual group deployments in the bulk deployment operation.",
                                            "items": {
                                                "description": "Information about an individual group deployment in a bulk deployment operation.",
                                                "properties": {
                                                    "CreatedAt": {
                                                        "description": "The time, in ISO format, when the deployment was created.",
                                                        "type": "string"
                                                    },
                                                    "DeploymentArn": {
                                                        "description": "The ARN of the group deployment.",
                                                        "type": "string"
                                                    },
                                                    "DeploymentId": {
                                                        "description": "The ID of the group deployment.",
                                                        "type": "string"
                                                    },
                                                    "DeploymentStatus": {
                                                        "description": "The current status of the group deployment: ''InProgress'', ''Building'', ''Success'', or ''Failure''.",
                                                        "type": "string"
                                                    },
                                                    "DeploymentType": {
                                                        "description": "The type of the deployment.",
                                                        "enum": [
                                                            "NewDeployment",
                                                            "Redeployment",
                                                            "ResetDeployment",
                                                            "ForceResetDeployment"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorDetails": {
                                                        "description": "Details about the error.",
                                                        "items": {
                                                            "description": "Details about the error.",
                                                            "properties": {
                                                                "DetailedErrorCode": {
                                                                    "description": "A detailed error code.",
                                                                    "type": "string"
                                                                },
                                                                "DetailedErrorMessage": {
                                                                    "description": "A detailed error message.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The error message for a failed deployment",
                                                        "type": "string"
                                                    },
                                                    "GroupArn": {
                                                        "description": "The ARN of the Greengrass group.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/greengrass/bulk/deployments/{BulkDeploymentId}/status": {
            "get": {
                "description": "Returns the status of a bulk deployment.",
                "operationId": "GetBulkDeploymentStatus",
                "parameters": [
                    {
                        "in": "path",
                        "name": "BulkDeploymentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BulkDeploymentMetrics": {
                                            "description": "Relevant metrics on input records processed during bulk deployment.",
                                            "properties": {
                                                "InvalidInputRecords": {
                                                    "description": "The total number of records that returned a non-retryable error. For example, this can occur if a group record from the input file uses an invalid format or specifies a nonexistent group version, or if the execution role doesn't grant permission to deploy a group or group version.",
                                                    "type": "integer"
                                                },
                                                "RecordsProcessed": {
                                                    "description": "The total number of group records from the input file that have been processed so far, or attempted.",
                                                    "type": "integer"
                                                },
                                                "RetryAttempts": {
                                                    "description": "The total number of deployment attempts that returned a retryable error. For example, a retry is triggered if the attempt to deploy a group returns a throttling error. ''StartBulkDeployment'' retries a group deployment up to five times.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "BulkDeploymentStatus": {
                                            "description": "The status of the bulk deployment.",
                                            "enum": [
                                                "Initializing",
                                                "Running",
                                                "Completed",
                                                "Stopping",
                                                "Stopped",
                                                "Failed"
                                            ],
                                            "type": "string"
                                        },
                                        "CreatedAt": {
                                            "description": "The time, in ISO format, when the deployment was created.",
                                            "type": "string"
                                        },
                                        "ErrorDetails": {
                                            "description": "Error details",
                                            "items": {
                                                "description": "Details about the error.",
                                                "properties": {
                                                    "DetailedErrorCode": {
                                                        "description": "A detailed error code.",
                                                        "type": "string"
                                                    },
                                                    "DetailedErrorMessage": {
                                                        "description": "A detailed error message.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ErrorMessage": {
                                            "description": "Error message",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/greengrass/definition/connectors": {
            "get": {
                "description": "Retrieves a list of connector definitions.",
                "operationId": "ListConnectorDefinitions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Definitions": {
                                            "description": "Information about a definition.",
                                            "items": {
                                                "description": "Information about a definition.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The ARN of the definition.",
                                                        "type": "string"
                                                    },
                                                    "CreationTimestamp": {
                                                        "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "The ID of the definition.",
                                                        "type": "string"
                                                    },
                                                    "LastUpdatedTimestamp": {
                                                        "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                                        "type": "string"
                                                    },
                                                    "LatestVersion": {
                                                        "description": "The latest version of the definition.",
                                                        "type": "string"
                                                    },
                                                    "LatestVersionArn": {
                                                        "description": "The ARN of the latest version of the definition.",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the definition.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.",
                "operationId": "CreateConnectorDefinition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the definition.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "The ID of the definition.",
                                            "type": "string"
                                        },
                                        "LastUpdatedTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                            "type": "string"
                                        },
                                        "LatestVersion": {
                                            "description": "The latest version of the definition.",
                                            "type": "string"
                                        },
                                        "LatestVersionArn": {
                                            "description": "The ARN of the latest version of the definition.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the definition.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "InitialVersion": {
                                        "description": "Information about the initial version of the connector definition.",
                                        "properties": {
                                            "Connectors": {
                                                "description": "A list of references to connectors in this version, with their corresponding configuration settings.",
                                                "items": {
                                                    "description": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
                                                    "properties": {
                                                        "ConnectorArn": {
                                                            "description": "The ARN of the connector.",
                                                            "type": "string"
                                                        },
                                                        "Id": {
                                                            "description": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+.",
                                                            "type": "string"
                                                        },
                                                        "Parameters": {
                                                            "description": "The parameters or configuration that the connector uses.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Name": {
                                        "description": "The name of the connector definition.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/definition/connectors/{ConnectorDefinitionId}": {
            "delete": {
                "description": "Deletes a connector definition.",
                "operationId": "DeleteConnectorDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves information about a connector definition.",
                "operationId": "GetConnectorDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the definition.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "The ID of the definition.",
                                            "type": "string"
                                        },
                                        "LastUpdatedTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                            "type": "string"
                                        },
                                        "LatestVersion": {
                                            "description": "The latest version of the definition.",
                                            "type": "string"
                                        },
                                        "LatestVersionArn": {
                                            "description": "The ARN of the latest version of the definition.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the definition.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates a connector definition.",
                "operationId": "UpdateConnectorDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the definition.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions": {
            "get": {
                "description": "Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
                "operationId": "ListConnectorDefinitionVersions",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        },
                                        "Versions": {
                                            "description": "Information about a version.",
                                            "items": {
                                                "description": "Information about a version.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The ARN of the version.",
                                                        "type": "string"
                                                    },
                                                    "CreationTimestamp": {
                                                        "description": "The time, in milliseconds since the epoch, when the version was created.",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "The ID of the version.",
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "The unique ID of the version.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a version of a connector definition which has already been defined.",
                "operationId": "CreateConnectorDefinitionVersion",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the version.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the version was created.",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "The ID of the version.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "The unique ID of the version.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Connectors": {
                                        "description": "A list of references to connectors in this version, with their corresponding configuration settings.",
                                        "items": {
                                            "description": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
                                            "properties": {
                                                "ConnectorArn": {
                                                    "description": "The ARN of the connector.",
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+.",
                                                    "type": "string"
                                                },
                                                "Parameters": {
                                                    "description": "The parameters or configuration that the connector uses.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}": {
            "get": {
                "description": "Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services.",
                "operationId": "GetConnectorDefinitionVersion",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "ConnectorDefinitionVersionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the connector definition version.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the connector definition version was created.",
                                            "type": "string"
                                        },
                                        "Definition": {
                                            "description": "Information about the connector definition version.",
                                            "properties": {
                                                "Connectors": {
                                                    "description": "A list of references to connectors in this version, with their corresponding configuration settings.",
                                                    "items": {
                                                        "description": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
                                                        "properties": {
                                                            "ConnectorArn": {
                                                                "description": "The ARN of the connector.",
                                                                "type": "string"
                                                            },
                                                            "Id": {
                                                                "description": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+.",
                                                                "type": "string"
                                                            },
                                                            "Parameters": {
                                                                "description": "The parameters or configuration that the connector uses.",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the connector definition version.",
                                            "type": "string"
                                        },
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "The version of the connector definition version.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/greengrass/definition/cores": {
            "get": {
                "description": "Retrieves a list of core definitions.",
                "operationId": "ListCoreDefinitions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Definitions": {
                                            "description": "Information about a definition.",
                                            "items": {
                                                "description": "Information about a definition.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The ARN of the definition.",
                                                        "type": "string"
                                                    },
                                                    "CreationTimestamp": {
                                                        "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "The ID of the definition.",
                                                        "type": "string"
                                                    },
                                                    "LastUpdatedTimestamp": {
                                                        "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                                        "type": "string"
                                                    },
                                                    "LatestVersion": {
                                                        "description": "The latest version of the definition.",
                                                        "type": "string"
                                                    },
                                                    "LatestVersionArn": {
                                                        "description": "The ARN of the latest version of the definition.",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the definition.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token for the next set of results, or ''null'' if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.",
                "operationId": "CreateCoreDefinition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the definition.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "The ID of the definition.",
                                            "type": "string"
                                        },
                                        "LastUpdatedTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                            "type": "string"
                                        },
                                        "LatestVersion": {
                                            "description": "The latest version of the definition.",
                                            "type": "string"
                                        },
                                        "LatestVersionArn": {
                                            "description": "The ARN of the latest version of the definition.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the definition.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Information needed to create a core definition.",
                                "properties": {
                                    "InitialVersion": {
                                        "description": "Information about the initial version of the core definition.",
                                        "properties": {
                                            "Cores": {
                                                "description": "A list of cores in the core definition version.",
                                                "items": {
                                                    "description": "Information about a core.",
                                                    "properties": {
                                                        "CertificateArn": {
                                                            "description": "The ARN of the certificate associated with the core.",
                                                            "type": "string"
                                                        },
                                                        "Id": {
                                                            "description": "A descriptive or arbitrary ID for the core. This value must be unique within the core definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''.",
                                                            "type": "string"
                                                        },
                                                        "SyncShadow": {
                                                            "description": "If true, the core's local shadow is automatically synced with the cloud.",
                                                            "type": "boolean"
                                                        },
                                                        "ThingArn": {
                                                            "description": "The ARN of the thing which is the core.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Name": {
                                        "description": "The name of the core definition.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/greengrass/definition/cores/{CoreDefinitionId}": {
            "delete": {
                "description": "Deletes a core definition.",
                "operationId": "DeleteCoreDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "CoreDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves information about a core definition version.",
                "operationId": "GetCoreDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "CoreDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The ARN of the definition.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was created.",
                                            "type": "string"
                                        },
                                        "Id": {
                                            "description": "The ID of the definition.",
                                            "type": "string"
                                        },
                                        "LastUpdatedTimestamp": {
                                            "description": "The time, in milliseconds since the epoch, when the definition was last updated.",
                                            "type": "string"
                                        },
                                        "LatestVersion": {
                                            "description": "The latest version of the definition.",
                                            "type": "string"
                                        },
                                        "LatestVersionArn": {
                                            "description": "The ARN of the latest version of the definition.",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "The name of the definition.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates a core definition.",
                "operationId": "UpdateCoreDefinition",
                "parameters": [
                    {
                        "in": "path",
                        "name": "CoreDefinitionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the definition.",
[...]
